---
import Layout from '../layouts/Layout.astro';
// import '../styles/global.css';
---

<Layout>
	<div class="flex items-center">
		<a href="/test" transition:name="test">
			<div class="ml-32 text-pink-500">
				test
			</div>
		</a>
	</div>
</Layout>
